html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#fileUploadDiv1,
#fileUploadDiv2 {
    background-color: #ffcccb;
}

label {
    padding-left: 20px;
    font-size: 2em;
}

input[type=file]::file-selector-button {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

input[type=button] {
    height: 100px;
    width: 700px;
    font-size: 2em;
    cursor: pointer;
}

#dvExcel {
    font-size: 2em;
    padding: 20px;
}


.BOB {
    font-size: x-large;
}


@media print {

    #upload1,
    #dvExcel1,
    #fileUpload1,
    #fileUpload,
    label,
    hr,
    #dvExcel {
        display: none;
    }
}

div#dvExcel1 {
    page-break-after: always;
}

.listOfNames {
    page-break-after: always;
}

.border {
    width: 950px;
    height: 1200px;
    border: 2px solid black;
    page-break-after: always;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}


.inboxdiv {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.3em;
    box-shadow: black 5px 5px 5px;
    border-radius: 10px;
    margin: 15px;
}

.inboxhead {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
}

.inbox {
    text-align: left;
    padding-left: 4px;
}

ol {
    width: 750px;
}

li {
    font-size: 1.8em;
    padding: 10px 10px;
}

h1 {
    font-size: 3.1em;
    width: 100%;
    text-align: center;
}

#text {
    background-color: gray;
}

.lItem {
    display: flex;
    justify-content: space-between;
}